all10g.zip
all10
target
out-linux
out-windows
output
tmp
recording.edn
venturestar.glb
.cache
.clj-kondo/metosin
.clj-kondo/imports
.cpcache
.eastwood
.integration
.schemas
.lein-*
.nrepl-port
*.class
*.o
*.so
*.dll
*.jar
*.tgz
*.log
