all10g.zip
all10
target
out-windows
elevation
world.*.png
BlackMarble_2016_*.jpg
blackmarble.*.png
elevation.*.raw
ldem*.tif
lroc*.tif
recording.edn
venturestar.glb
.cache
.clj-kondo/metosin
.cpcache
.eastwood
.integration
.lein-*
.nrepl-port
*.class
*.o
*.so
*.dll
*.jar
*.tgz
*.log
