all10g.zip
all10
target
tmp
out-windows
elevation
world.*.png
BlackMarble_2016_*.jpg
blackmarble.*.png
elevation.*.raw
recording.edn
venturestar.glb
index.html
.cache
.clj-kondo/metosin
.cpcache
.eastwood
.integration
.lein-*
.nrepl-port
*.class
*.o
*.so
*.dll
*.jar
*.tgz
*.log
