{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        metosin/malli {:mvn/version "0.17.0"}
        com.fzakaria/slf4j-timbre {:mvn/version "0.2"}
        levand/immuconf {:mvn/version "0.1.0"}
        org.clojure/core.memoize {:mvn/version "1.1.266"}
        comb/comb {:mvn/version "0.1.1"}
        progrock/progrock {:mvn/version "0.1.2"}
        org.clj-commons/claypoole {:mvn/version "1.2.2"}
        generateme/fastmath {:mvn/version "2.4.0" :exclusions [com.github.haifengl/smile-mkl org.bytedeco/openblas]}
        instaparse/instaparse {:mvn/version "1.5.0"}
        org.clj-commons/gloss {:mvn/version "0.3.6"}
        org.suskalo/coffi {:mvn/version "1.0.486"}
        org.lwjgl/lwjgl {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl$natives-linux {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-opengl {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-opengl$natives-linux {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-glfw {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-glfw$natives-linux {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-nuklear {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-nuklear$natives-linux {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-stb {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-stb$natives-linux {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-assimp {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-assimp$natives-linux {:mvn/version "3.3.6"}}
 :paths ["src/clj"]
 :aliases {:run {:jvm-opts ["-Xms2g" "-Xmx4g" "--enable-native-access=ALL-UNNAMED"]
                 :main-opts ["-m" "sfsim.core"]}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.6"
                                                         :git/sha "52cf7d6"}
                          sfsim/sfsim {:local/root "."}}
                   :ns-default build
                   :exec-fn all
                   :jvm-opts ["-Xms2g" "-Xmx4g"]}
           :test {:extra-deps {midje/midje {:mvn/version "1.10.10"}
                               midje-runner/midje-runner {:git/url "https://github.com/wedesoft/midje-runner.git"
                                                          :git/sha "8ceb29d5781b9fc43ad4116fc645ade797342fad"}}
                  :extra-paths ["test/clj"]
                  :main-opts ["-m" "midje-runner.runner"]
                  :jvm-opts ["--enable-native-access=ALL-UNNAMED"]}
           :profile {:extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.5.1"}}
                     :jvm-opts ["-Djdk.attach.allowAttachSelf" "-XX:+UnlockDiagnosticVMOptions" "-XX:+DebugNonSafepoints"]}}}
