{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.memoize {:mvn/version "1.0.257"}
        comb/comb {:mvn/version "0.1.1"}
        progrock/progrock {:mvn/version "0.1.2"}
        org.clj-commons/claypoole {:mvn/version "1.2.2"}
        generateme/fastmath {:mvn/version "2.2.2-SNAPSHOT" :exclusions [com.github.haifengl/smile-mkl org.bytedeco/openblas]}
        org.lwjgl/lwjgl {:mvn/version "3.3.2"}
        org.lwjgl/lwjgl$natives-linux {:mvn/version "3.3.2"}
        org.lwjgl/lwjgl-opengl {:mvn/version "3.3.2"}
        org.lwjgl/lwjgl-opengl$natives-linux {:mvn/version "3.3.2"}
        org.lwjgl/lwjgl-glfw {:mvn/version "3.3.2"}
        org.lwjgl/lwjgl-glfw$natives-linux {:mvn/version "3.3.2"}
        org.lwjgl/lwjgl-stb {:mvn/version "3.3.2"}
        org.lwjgl/lwjgl-stb$natives-linux {:mvn/version "3.3.2"}
        org.lwjgl/lwjgl-assimp {:mvn/version "3.3.2"}
        org.lwjgl/lwjgl-assimp$natives-linux {:mvn/version "3.3.2"}}
 :paths ["src"]
 :aliases {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.3"
                                                         :git/sha "e537cd1f3ac65c4cbc5001dce00a636d0006da39"}
                          sfsim25/sfsim25 {:local/root "."}}
                   :ns-default build
                   :exec-fn all
                   :jvm-opts ["-Xms2g" "-Xmx4g"]}
           :test {:extra-deps {midje/midje {:mvn/version "1.10.9"}
                               midje-runner/midje-runner {:git/url "git@github.com:wedesoft/midje-runner"
                                                          :git/sha "e6e5008998576fa06739f0a49ab1d95503a59406"}}
                  :extra-paths ["test"]
                  :main-opts ["-m" "midje-runner.runner"]}
           :profile {:extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.0.3"}}
                     :jvm-opts ["-Djdk.attach.allowAttachSelf" "-XX:+UnlockDiagnosticVMOptions" "-XX:+DebugNonSafepoints"]}}}
