{:linters
 {:unresolved-symbol
  {:exclude [(com.climate.claypoole/pfor)
             (comb.template/fn)
             (com.climate.claypoole/pdoseq)
             (sfsim.render/with-mapped-vertex-arrays)]}
  :type-mismatch {:level :off}}
 :output {:linter-name true}}
