
  <!-- Open Graph Protocol -->
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/sfsim.jpg">
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
  <style>
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
  </style>

