{
 :sfsim.max-height 35000.0

 :sfsim.render-config #:sfsim.render{:amplification 6.0
                                     :specular 1000.0
                                     :window-width 854
                                     :window-height 480
                                     ; :window-width 1920
                                     ; :window-height 1080
                                     :fov 1.0471975511965976  ; 60 degrees
                                     ; :window-width 720
                                     ; :window-height 1280
                                     ; :fov 0.5
                                     :cloud-subsampling 2
                                     :min-z-near 1.0}

 :sfsim.planet-config #:sfsim.planet{:radius 6378000.0
                                     :mass 5.9722e+24
                                     :max-height 8000.0
                                     :space-boundary 80467.2
                                     :albedo 0.9
                                     :dawn-start -0.2
                                     :dawn-end 0.0
                                     :tilesize 65
                                     :level 7
                                     :color-tilesize 129
                                     :reflectivity 0.1
                                     :land-noise-scale 32.0
                                     :land-noise-strength 0.16
                                     :water-threshold 0.8
                                     :water-color [0.09 0.11 0.34]}

 :sfsim.cloud-config #:sfsim.clouds{:cloud-octaves [0.46 0.32 0.22]  ; (sfsim.util/octaves 3 0.7)
                                    :perlin-octaves [0.57 0.28 0.15]  ; (sfsim.util/octaves 3 0.5)
                                    :cloud-bottom 1500.0
                                    :cloud-top 5000.0
                                    :detail-scale 5000.0
                                    :cloud-scale 50000.0
                                    :cloud-multiplier 10.0
                                    :cover-multiplier 26.0
                                    :threshold 18.2
                                    :cap 0.005
                                    :powder-decay 12.0
                                    :anisotropic 0.25
                                    :cloud-step 250.0
                                    :depth-sigma 1.0
                                    :min-depth-exponent -3.0
                                    :opacity-cutoff 0.01}

 :sfsim.shadow-config #:sfsim.opacity{:num-opacity-layers 7
                                      :shadow-size 1024
                                      :num-steps 2
                                      :opacity-biases [0.0 2000.0]
                                      :scene-shadow-size 1024
                                      :scene-shadow-counts [0 1]
                                      :mix 0.6
                                      :shadow-bias 1e-6}

 :sfsim.model-config #:sfsim.model{:object-radius 30.0  ; includes size of expanding plume
                                   :plume-nozzle 2.7549
                                   :plume-min-limit 1.2
                                   :plume-max-slope 1.0
                                   :plume-step 0.5
                                   :omega-factor 0.2
                                   :diamond-strength 0.4
                                   :rcs-nozzle 0.2
                                   :rcs-min-limit 0.25
                                   :rcs-max-slope 1.0
                                   :rcs-step 0.05}
}
