name: SFsim CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ubuntu-build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Cache Jolt bindings
      id: cache-libjolt
      uses: actions/cache@v5.0.1
      with:
        path: libjolt.so
        key: ${{ runner.os }}-libjolt-5.4.0-${{ hashFiles('src/c/sfsim/jolt.cc') }}-${{ hashFiles('src/c/sfsim/jolt.hh') }}
    - name: Cache Maven packages
      uses: actions/cache@v5.0.1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('deps.edn') }}
        restore-keys: ${{ runner.os }}-m2-
    - name: Install APT packages
      uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: build-essential xvfb rlwrap
        version: 1.0
    - if: ${{ steps.cache-libjolt.outputs.cache-hit != 'true' }}
      name: Download JoltPhysics
      run: |
        cd ~
        wget -q -O JoltPhysics-5.4.0.tar.gz https://github.com/jrouwe/JoltPhysics/archive/refs/tags/v5.4.0.tar.gz
        tar xzf JoltPhysics-5.4.0.tar.gz
    - if: ${{ steps.cache-libjolt.outputs.cache-hit != 'true' }}
      name: Build JoltPhysics
      run: |
        cd ~
        cd JoltPhysics-5.4.0/Build
        ./cmake_linux_clang_gcc.sh Release g++ -DCMAKE_POSITION_INDEPENDENT_CODE=ON -DDOUBLE_PRECISION=ON -DDEBUG_RENDERER_IN_DEBUG_AND_RELEASE=OFF -DPROFILER_IN_DEBUG_AND_RELEASE=OFF -DUSE_AVX2=OFF -DUSE_LZCNT=OFF -DUSE_TZCNT=OFF -DUSE_F16C=OFF -DUSE_FMADD=OFF
        cd Linux_Release
        make
        cd ../../..
    - if: ${{ steps.cache-libjolt.outputs.cache-hit != 'true' }}
      name: Install JoltPhysics
      run: |
        cd ~/JoltPhysics-5.4.0/Build/Linux_Release
        sudo make install
        cd ../../..
    - name: Install Java
      uses: actions/setup-java@v5
      with:
        distribution: 'oracle'
        java-version: '25'
    - name: Install Clojure
      uses: DeLaGuardo/setup-clojure@13.4
      with:
        cli: 1.12.4.1582
    - if: ${{ steps.cache-libjolt.outputs.cache-hit != 'true' }}
      name: Build Jolt bindings
      run: make
    - name: Run tests
      run: xvfb-run clj -M:test
